body{

}
.contact{
  color: black;
  text-align: center;
}
.contact .contact-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}
.contact h1{
  text-align: center;
}
.contact label {
  display: block;
  font-weight: bold;
}
.contact input, .contact textarea{
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid lightgray 1px;
}
#help{
width: 30%;
float: left;
}
#hell{
  width: 30%;
  float: right;
}
#go{
  width: 30%;
  float: left;
}
#stop{
  width: 30%;
  float: right;
}
.sec{
  border-radius: 10px;
  background: red;
  padding: 10px;
  width: 200px;
  height: 310px;
}
